Going to practice ripping text from PDFs enable to put them into a database.

In [1]:
import PyPDF2
import re
import pandas as pd
import numpy as np

In [2]:
# pdf file object
# you can find find the pdf file with complete code in below
pdfFileObj = open('al-alpha.pdf', 'rb')
# pdf reader object
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
# number of pages in pdf
pages = pdfReader.numPages
pages

81

In [3]:
pageObj = pdfReader.getPage(0)
test = pageObj.extractText()

In [4]:
test

'U.S. Military Fatal Casualties of the Vietnam War for \nHome-State-of-Record: Alabama\nName\nService\nRank / \nRate\n   Birthdate \n(YYYYMMDD)\nIncident or \nDeath Date \n(YYYYMMDD)\nRemains \nRecovered\nHome of Record:\nCity                  County\nABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 1 of 81\n'

In [5]:
test[235:]

'\nABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 1 of 81\n'

In [6]:
pageObj = pdfReader.getPage(1)
test2 = pageObj.extractText()

In [7]:
test2[235:]

'\nALLUMS ALLEN WAYNE\nARMY\nSP5\n19471020\nENTERPRISE\nCOFFEE\n19690506\nY\nALLUMS FREDERICK \nLARRY\nARMY\nCPL\n19471107\nEMPIRE\nWALKER\n19680307\nY\nAMBROSE EDWARD\nARMY\nSSG\n19280424\nGOSPORT\nCLARKE\n19690824\nY\nANDERSON ROY JR\nARMY\nPVT\n19501224\nBIRMINGHAM\nJEFFERSON\n19701207\nY\nANDERSON WILLIAM \nALLISON\nARMY\nSP4\n19480320\nMT VERNON\nMULTIPLE\n19691106\nY\nANDREWS CLIFTON \nBISHOP\nMARINE CORPS\nMAJ\n19270421\nFULTON\nCLARKE\n19660725\nY\nANDREWS COLEY L\nARMY\nSGT\n19410908\nMOBILE\nMOBILE\n19661219\nY\nANDREWS HOWARD \nRIVERS JR\nARMY\nCPT\n19420903\nHUNTSVILLE\nMADISON\n19700417\nY\nARD HENRY\nARMY\nPSG\n19270405\nROBERTSDALE\nBALDWIN\n19661031\nY\nARNOLD HAROLD\nMARINE CORPS\nPFC\n19471215\nPRICHARD\nMOBILE\n19660908\nY\nARRINGTON SAMUEL W \nJR\nARMY\nCPL\n19460123\nMONTGOMERY\nMONTGOMERY\n19670206\nY\nASH JOHN SILVY\nARMY\nSP4\n19400822\nBIRMINGHAM\nJEFFERSON\n19691202\nY\nASKEW THOMAS EARL\nMARINE CORPS\nSGT\n19470531\nMUSCLE \nSHOALS\nCOLBERT\n19691128\nY\nAUSBORN DONALD \nEUGENE\nARMY\nSP4\n19480614\nHUNTSVILLE\nMADISON\n19680812\nY\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 2 of 81\n'

Now lets remove the trailing bit.

In [8]:
#pattern = re.compile(r".*(?=Source)")   #compiling the pattern before using the flags causes it to thrown an error.

In [9]:
m = re.search(r".*(?=Source)", test, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
m.group(0)

'U.S. Military Fatal Casualties of the Vietnam War for \nHome-State-of-Record: Alabama\nName\nService\nRank / \nRate\n   Birthdate \n(YYYYMMDD)\nIncident or \nDeath Date \n(YYYYMMDD)\nRemains \nRecovered\nHome of Record:\nCity                  County\nABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\n'

Now lets try putting it all together and see about turning it into a pd.Series

In [10]:
trail = test[236:] #Removes the top of the document.
m = re.search(r".*(?=Source)", trail, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
trial = m.group(0)
trial

'ABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\n'

In [11]:
state_list = trial.splitlines()
print(len(state_list))
state_list[:10]

130

['ABRAMS TIMOTHY C JR',
 'ARMY',
 'PFC',
 '19461104',
 'TUSCALOOSA',
 'TUSCALOOSA',
 '19670103',
 'Y',
 'ABSTON JAMES ESTUS JR',
 'ARMY']

In [12]:
columns = ['name', 'service', 'rank_rate', 'birthdate', 'home_city', 'home_county', 'incident_death', 'body_rec', 'state']
states_df = pd.DataFrame(columns=columns)
states_df.head()

Empty DataFrame
Columns: [name, service, rank_rate, birthdate, home_city, home_county, incident_death, body_rec, state]
Index: []

The plan is to chunk the data into the appropitate sizes then put in into the dataframe. Since there is going to be one more column than what is actaully in the list, I will have to work around that issue.

OK, now lets make a function that goes through each PDF to scrape the data. I will use the function above to put the data into the proper column. Then I will embed that into a loop that will go through all the PDFs in the folder.

In [13]:
def scrape_pdf(pdf_file): #Accepts in a PDF and returns the text of the PDF broken at newlines.
    
    pdfFileObj = open(pdf_file, 'rb')               #Opens file
    pdfReader = PyPDF2.PdfFileReader(pdfFileObj)    #Reads the file
    pages = pdfReader.numPages                      #Gets the number of pages to cycle through
    
    counter = 0
    data_list = []
    
    while counter < pages:
        
        pageObj = pdfReader.getPage(counter)
        text = pageObj.extractText()
        
        text = text[236:]                                     #Removes the head of the document. The next line removed the tail of the document.
        m = re.search(r".*(?=Source)", text, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
        data = m.group(0)
        data_list.extend(data.splitlines())
        
        counter += 1
        
    data_list.pop() #The last thing at the end of the PDF is some text. Removing it will make it easier to deal with the data.    
    return (data_list)

Now lets check if my function worked.

In [125]:
temp = scrape_pdf('al-alpha.pdf')
len(temp)

10043

In [78]:
10043/7

1434.7142857142858

There seems to be an issue. Had this worked properly, the above number should 1208 or at least a whole number. After reviewing the PDF, there is a newline character after some of the names. The following entry in the data is the `service` type. 

Since there is a limited number of military services, I will loop through the data checking the preceeding entires after the `name` column. If a name is broken into two lines, I will merge them into one. As long as the first entry is correct, this process will work for all the PDFs.

In [76]:
military = ['ARMY', 'NAVY', 'MARINE CORPS', 'AIR FORCE']

In [99]:
check = temp[:106]

counter = len(check)

while counter > 0:
    if check[1] not in military:
        
        print(check[1] + ' WHAT, WHAT?!')
        
        check[0] = check[0] + ' ' + check[1]
        check.remove(check[1])
    
    print(check[:8])
    del check[:8]
    counter = len(check)

['ABRAMS TIMOTHY C JR', 'ARMY', 'PFC', '19461104', 'TUSCALOOSA', 'TUSCALOOSA', '19670103', 'Y']
['ABSTON JAMES ESTUS JR', 'ARMY', 'PFC', '19441102', 'COTTONDALE', 'TUSCALOOSA', '19670227', 'Y']
FRANKLIN WHAT, WHAT?!
['ACTON MARION  FRANKLIN', 'ARMY', 'PFC', '19470901', 'HUNTSVILLE', 'MADISON', '19660411', 'Y']
['ADAMS JAMES CONRAD', 'ARMY', 'MAJ', '19381025', 'PHENIX CITY', 'RUSSELL', '19700501', 'Y']
['ADAMS SPENCER', 'ARMY', 'SSG', '19340506', 'MOBILE', 'MOBILE', '19680215', 'Y']
['ADAMS WALTER LEE', 'ARMY', 'PFC', '19461227', 'MCINTOSH', 'WASHINGTON', '19670610', 'Y']
['ADAMSON LARRY ONEAL', 'ARMY', 'SP4', '19460910', 'FAIRFAX', 'CHAMBERS', '19691003', 'Y']
['ADDISON ONEAL', 'ARMY', 'SP5', '19270506', 'WEST ENSLEY', 'JEFFERSON', '19660504', 'Y']
['ADKISON CARL ELMUS', 'ARMY', 'SP4', '19490531', 'GADSDEN', 'ETOWAH', '19690812', 'Y']
['AKINS ADRIAN ALAN', 'ARMY', 'SP5', '19490404', 'CORDOVA', 'WALKER', '19691025', 'Y']
['ALEXANDER BOBBY RAY', 'MARINE CORPS', 'CPL', '19470213', 'DECATUR', 'MORGAN', '19671116', 'Y']
['ALEXANDER DAVID J JR', 'ARMY', 'PFC', '19480228', 'ANNISTON', 'CALHOUN', '19680718', 'Y']
JR WHAT, WHAT?!
['ALLEN GRANVILLE JOEL  JR', 'NAVY', 'PO3', '19471102', 'BIRMINGHAM', 'JEFFERSON', '19680523', 'Y']

Fantastic, it works! now lets tweak this a bit and make a list of lists then I can throw into a `DataFrame` easily.

In [126]:
def prep_for_df(data_in_list):  #Takes in a list and will return a list of lists.
    
    big_long_list = data_in_list.copy()   #Making a deep copy, so I don't effect the underlying list. 
    output = []
    counter = len(big_long_list)

    while counter > 0:
        if big_long_list[1] not in military:

            big_long_list[0] = big_long_list[0] + ' ' + big_long_list[1]
            big_long_list.remove(big_long_list[1])

        output.append(big_long_list[:8])
        del big_long_list[:8]
        counter = len(big_long_list)
    
    return(output)

In [127]:
how_long = prep_for_df(temp)
len(how_long)

1208

In [128]:
temp

['ABRAMS TIMOTHY C JR',
 'ARMY',
 'PFC',
 '19461104',
 'TUSCALOOSA',
 'TUSCALOOSA',
 '19670103',
 'Y',
 'ABSTON JAMES ESTUS JR',
 'ARMY',
 'PFC',
 '19441102',
 'COTTONDALE',
 'TUSCALOOSA',
 '19670227',
 'Y',
 'ACTON MARION ',
 'FRANKLIN',
 'ARMY',
 'PFC',
 '19470901',
 'HUNTSVILLE',
 'MADISON',
 '19660411',
 'Y',
 'ADAMS JAMES CONRAD',
 'ARMY',
 'MAJ',
 '19381025',
 'PHENIX CITY',
 'RUSSELL',
 '19700501',
 'Y',
 'ADAMS SPENCER',
 'ARMY',
 'SSG',
 '19340506',
 'MOBILE',
 'MOBILE',
 '19680215',
 'Y',
 'ADAMS WALTER LEE',
 'ARMY',
 'PFC',
 '19461227',
 'MCINTOSH',
 'WASHINGTON',
 '19670610',
 'Y',
 'ADAMSON LARRY ONEAL',
 'ARMY',
 'SP4',
 '19460910',
 'FAIRFAX',
 'CHAMBERS',
 '19691003',
 'Y',
 'ADDISON ONEAL',
 'ARMY',
 'SP5',
 '19270506',
 'WEST ENSLEY',
 'JEFFERSON',
 '19660504',
 'Y',
 'ADKISON CARL ELMUS',
 'ARMY',
 'SP4',
 '19490531',
 'GADSDEN',
 'ETOWAH',
 '19690812',
 'Y',
 'AKINS ADRIAN ALAN',
 'ARMY',
 'SP5',
 '19490404',
 'CORDOVA',
 'WALKER',
 '19691025',
 'Y',
 'ALEXANDER BOBBY RAY',
 'MARINE CORPS',
 'CPL',
 '19470213',
 'DECATUR',
 'MORGAN',
 '19671116',
 'Y',
 'ALEXANDER DAVID J JR',
 'ARMY',
 'PFC',
 '19480228',
 'ANNISTON',
 'CALHOUN',
 '19680718',
 'Y',
 'ALLEN GRANVILLE JOEL ',
 'JR',
 'NAVY',
 'PO3',
 '19471102',
 'BIRMINGHAM',
 'JEFFERSON',
 '19680523',
 'Y',
 'ALLEN JOHNNY JR',
 'ARMY',
 'SP4',
 '19470502',
 'BIRMINGHAM',
 'JEFFERSON',
 '19700702',
 'Y',
 'ALLEN ROBERT WARREN',
 'MARINE CORPS',
 'PFC',
 '19471005',
 'BIRMINGHAM',
 'JEFFERSON',
 '19651003',
 'Y',
 'ALLEN WILLIAM TERRY',
 'ARMY',
 '1LT',
 '19450317',
 'ENTERPRISE',
 'COFFEE',
 '19671204',
 'Y',
 'ALLUMS ALLEN WAYNE',
 'ARMY',
 'SP5',
 '19471020',
 'ENTERPRISE',
 'COFFEE',
 '19690506',
 'Y',
 'ALLUMS FREDERICK ',
 'LARRY',
 'ARMY',
 'CPL',
 '19471107',
 'EMPIRE',
 'WALKER',
 '19680307',
 'Y',
 'AMBROSE EDWARD',
 'ARMY',
 'SSG',
 '19280424',
 'GOSPORT',
 'CLARKE',
 '19690824',
 'Y',
 'ANDERSON ROY JR',
 'ARMY',
 'PVT',
 '19501224',
 'BIRMINGHAM',
 'JEFFERSON',
 '19701207',
 'Y',
 'ANDERSON WILLIAM ',
 'ALLISON',
 'ARMY',
 'SP4',
 '19480320',
 'MT VERNON',
 'MULTIPLE',
 '19691106',
 'Y',
 'ANDREWS CLIFTON ',
 'BISHOP',
 'MARINE CORPS',
 'MAJ',
 '19270421',
 'FULTON',
 'CLARKE',
 '19660725',
 'Y',
 'ANDREWS COLEY L',
 'ARMY',
 'SGT',
 '19410908',
 'MOBILE',
 'MOBILE',
 '19661219',
 'Y',
 'ANDREWS HOWARD ',
 'RIVERS JR',
 'ARMY',
 'CPT',
 '19420903',
 'HUNTSVILLE',
 'MADISON',
 '19700417',
 'Y',
 'ARD HENRY',
 'ARMY',
 'PSG',
 '19270405',
 'ROBERTSDALE',
 'BALDWIN',
 '19661031',
 'Y',
 'ARNOLD HAROLD',
 'MARINE CORPS',
 'PFC',
 '19471215',
 'PRICHARD',
 'MOBILE',
 '19660908',
 'Y',
 'ARRINGTON SAMUEL W ',
 'JR',
 'ARMY',
 'CPL',
 '19460123',
 'MONTGOMERY',
 'MONTGOMERY',
 '19670206',
 'Y',
 'ASH JOHN SILVY',
 'ARMY',
 'SP4',
 '19400822',
 'BIRMINGHAM',
 'JEFFERSON',
 '19691202',
 'Y',
 'ASKEW THOMAS EARL',
 'MARINE CORPS',
 'SGT',
 '19470531',
 'MUSCLE ',
 'SHOALS',
 'COLBERT',
 '19691128',
 'Y',
 'AUSBORN DONALD ',
 'EUGENE',
 'ARMY',
 'SP4',
 '19480614',
 'HUNTSVILLE',
 'MADISON',
 '19680812',
 'Y',
 'AUSTIN WILLIE JR',
 'ARMY',
 'SP4',
 '19490629',
 'MOUNT ',
 'VERNON',
 'MOBILE',
 '19700429',
 'Y',
 'AVERY JOHN MARK',
 'MARINE CORPS',
 'GYSGT',
 '19370806',
 'COTTONDALE',
 'TUSCALOOSA',
 '19681030',
 'Y',
 'AVERY RONNIE G',
 'ARMY',
 'PFC',
 '19460805',
 'HAMILTON',
 'MARION',
 '19680827',
 'Y',
 'AYERS LESLEY STEVEN',
 'MARINE CORPS',
 'LCPL',
 '19440906',
 'HUNTSVILLE',
 'MADISON',
 '19680208',
 'Y',
 'BADGETT LEAGRANT',
 'ARMY',
 'SSG',
 '19360512',
 'PIEDMONT',
 'CALHOUN',
 '19710921',
 'Y',
 'BAILEY JOHN HOWARD',
 'MARINE CORPS',
 'SGT',
 '19470705',
 'DOCENA',
 'JEFFERSON',
 '19670501',
 'N',
 'BAKER ERNEST AUSTIN ',
 'JR',
 'MARINE CORPS',
 'CPL',
 '19470312',
 'OPELIKA',
 'LEE',
 '19680521',
 'Y',
 'BAKER JERRY SCRUGGS',
 'ARMY',
 'PFC',
 '19471128',
 'ALTOONA',
 'ETOWAH',
 '19680309',
 'Y',
 'BAKER MELVIN',
 'ARMY',
 'SSG',
 '19440604',
 'GADSDEN',
 'ETOWAH',
 '19680108',
 'Y',
 'BAKER RAYMOND ',
 'DELMAR',
 'ARMY',
 'SP4',
 '19471103',
 'BIRMINGHAM',
 'JEFFERSON',
 '19680916',
 'Y',
 'BALDWIN LARRY GLENN',
 'ARMY',
 'WO1',
 '19480922',
 'MONTGOMERY',
 'MONTGOMERY',
 '19700920',
 'Y',
 'BALL JIMMY REX',
 'ARMY',
 'PFC',
 '19410801',
 'ROGERSVILLE',
 'LAUDERDALE',
 '19660528',
 'Y',
 'BALLEW ARTHUR CLAY',
 'MARINE CORPS',
 'PFC',
 '19500114',
 'GADSDEN',
 'ETOWAH',
 '19680630',
 'Y',
 'BANNON PAUL WEDLAKE',
 'AIR FORCE',
 'COL',
 '19341015',
 'HUEYTOWN',
 'JEFFERSON',
 '19690712',
 'N',
 'BARBER CHADWICK ',
 'MCFALL',
 'ARMY',
 '1LT',
 '19441122',
 'FLORENCE',
 'LAUDERDALE',
 '19690108',
 'Y',
 'BARBER ERNEST ',
 'MCDONALD',
 'MARINE CORPS',
 'LCPL',
 '19490426',
 'TALLADEGA',
 'TALLADEGA',
 '19700827',
 'Y',
 'BAREFIELD JAMES ',
 'ARTHUR',
 'ARMY',
 'WO1',
 '19410217',
 'MIDLAND CITY',
 'DALE',
 '19720524',
 'Y',
 'BARGE FREDERICK ',
 'DOUGLAS',
 'ARMY',
 'PFC',
 '19460509',
 'SELMA',
 'DALLAS',
 '19690607',
 'Y',
 'BARKSDALE WILLIAM ',
 'HOWARD',
 'ARMY',
 'SGT',
 '19480106',
 'FYFFE',
 'DE KALB',
 '19690311',
 'Y',
 'BARNARD LEWIS CECIL',
 'MARINE CORPS',
 'SGT',
 '19370923',
 'GADSDEN',
 'ETOWAH',
 '19660718',
 'Y',
 'BARNES RICHARD LOUIS',
 'ARMY',
 'CPL',
 '19510326',
 'FIVE POINTS',
 'CHAMBERS',
 '19700625',
 'Y',
 'BARNETT DONALD ',
 'EUGENE',
 'ARMY',
 'SSG',
 '19420717',
 'ANNISTON',
 'CALHOUN',
 '19690326',
 'Y',
 'BARRON DANNY LANCE',
 'ARMY',
 'CPL',
 '19450721',
 'CARBON HILL',
 'WALKER',
 '19690805',
 'Y',
 'BARSOM GEORGE ',
 'KASPER III',
 'ARMY',
 '1LT',
 '19480307',
 'MONTGOMERY',
 'MONTGOMERY',
 '19720419',
 'Y',
 'BARTLETT DONNIE ',
 'STEPHEN',
 'ARMY',
 'PFC',
 '19490811',
 'OPELIKA',
 'LEE',
 '19700311',
 'Y',
 'BARTON DAVID ALLEN',
 'MARINE CORPS',
 'PFC',
 '19481113',
 'MONTGOMERY',
 'MONTGOMERY',
 '19710225',
 'Y',
 'BASON WILLIAM ALFRED ',
 'II',
 'ARMY',
 'PFC',
 '19460925',
 'HUNTSVILLE',
 'MADISON',
 '19660204',
 'Y',
 'BASS ROY LEE',
 'ARMY',
 'PFC',
 '19490901',
 'NEW ',
 'BROCKTON',
 'COFFEE',
 '19700106',
 'Y',
 'BATTLE HAROLD JAMES',
 'ARMY',
 'PFC',
 '19410522',
 'BIRMINGHAM',
 'JEFFERSON',
 '19651112',
 'Y',
 'BEARD ALEXANDER',
 'ARMY',
 'SSG',
 '19391029',
 'MOBILE',
 'MOBILE',
 '19681013',
 'Y',
 'BEARDEN LEE V',
 'ARMY',
 'SP4',
 '19450320',
 'STANTON',
 'CHILTON',
 '19661229',
 'Y',
 'BEARDEN RICHARD ',
 'DEWAYNE',
 'ARMY',
 'PFC',
 '19430821',
 'GADSDEN',
 'ETOWAH',
 '19660129',
 'Y',
 'BEASLEY GEORGE ',
 'HUTCHINSON',
 'MARINE CORPS',
 'SSGT',
 '19430421',
 'MONTGOMERY',
 'MONTGOMERY',
 '19690708',
 'Y',
 'BEATON ROBERT LOUIS',
 'ARMY',
 'SGT',
 '19430909',
 'MOBILE',
 'MOBILE',
 '19660222',
 'Y',
 'BEAVERS JAMES DAVID',
 'ARMY',
 'SGT',
 '19311123',
 'MIDFIELD',
 'JEFFERSON',
 '19730606',
 'Y',
 'BECK JOHN THERON',
 'MARINE CORPS',
 'PVT',
 '19480604',
 'GORDO',
 'PICKENS',
 '19680224',
 'Y',
 'BELL DAVID TOMIE',
 'ARMY',
 'SP4',
 '19460916',
 'PHENIX CITY',
 'RUSSELL',
 '19670226',
 'Y',
 'BELL JEROME',
 'ARMY',
 'SSG',
 '19441029',
 'FOSTERS',
 'TUSCALOOSA',
 '19680816',
 'Y',
 'BELLOMY WILLARD ',
 'GORDON',
 'ARMY',
 'SP4',
 '19471014',
 'WOODVILLE',
 'JACKSON',
 '19680818',
 'Y',
 'BELT ARTHUR LAVINE',
 'ARMY',
 'CPL',
 '19490212',
 'PRICHARD',
 'MOBILE',
 '19690103',
 'Y',
 'BENJAMIN RICHARD',
 'ARMY',
 'CPL',
 '19450320',
 'ATMORE',
 'ESCAMBIA',
 '19680206',
 'Y',
 'BENNETT DANIEL ',
 'MURPHY',
 'MARINE CORPS',
 'CPL',
 '19481117',
 'MOBILE',
 'MOBILE',
 '19700827',
 'Y',
 'BENNETT JACOB',
 'ARMY',
 'PFC',
 '19471106',
 'PHENIX CITY',
 'RUSSELL',
 '19680717',
 'Y',
 'BENNETT MELVIN LESLIE',
 'ARMY',
 'SGT',
 '19420906',
 'CORDOVA',
 'WALKER',
 '19660131',
 'Y',
 'BENNETT WILLIAM ',
 'GEORGE',
 'AIR FORCE',
 'COL',
 '19270915',
 'BIRMINGHAM',
 'JEFFERSON',
 '19670902',
 'N',
 'BENOSKI JOSEPH JR',
 'ARMY',
 'LTC',
 '19331023',
 'BIRMINGHAM',
 'JEFFERSON',
 '19700327',
 'Y',
 'BENTFORD ANANIAS',
 'ARMY',
 'CPL',
 '19490804',
 'LEIGHTON',
 'COLBERT',
 '19700528',
 'Y',
 'BENTLEY COBBIE JAMES',
 'MARINE CORPS',
 'CPL',
 '19480105',
 'BIRMINGHAM',
 'JEFFERSON',
 '19670916',
 'Y',
 'BERRYMAN WILLIAM ',
 'ERNEST',
 'MARINE CORPS',
 'CPL',
 '19480824',
 'LEIGHTON',
 'COLBERT',
 '19701207',
 'Y',
 'BEXLEY ROBERT ',
 'EDWARD',
 'MARINE CORPS',
 'PFC',
 '19460109',
 'MOBILE',
 'MOBILE',
 '19660130',
 'Y',
 'BICE JIMMIE RAY',
 'MARINE CORPS',
 'PFC',
 '19480922',
 'BIRMINGHAM',
 'JEFFERSON',
 '19690513',
 'Y',
 'BILLINGS WILL DANNY',
 'ARMY',
 'SP5',
 '19460610',
 'HELENA',
 'SHELBY',
 '19701106',
 'Y',
 'BINION THOMAS',
 'ARMY',
 'SGT',
 '19421209',
 'REFORM',
 'PICKENS',
 '19660329',
 'Y',
 'BISHOP JAMES ARTHUR',
 'ARMY',
 'SP4',
 '19481210',
 'GALLION',
 'HALE',
 '19690407',
 'Y',
 'BISHOP WOODROW ',
 'WILSON JR',
 'ARMY',
 'SP4',
 '19490324',
 'NORTHPORT',
 'TUSCALOOSA',
 '19690505',
 'Y',
 'BLACK JIMMY P',
 'AIR FORCE',
 'SGT',
 '19540824',
 'DAPHNE',
 'BALDWIN',
 '19750513',
 'Y',
 'BLACK LARRY PAUL',
 'ARMY',
 'PFC',
 '19470427',
 'CORDOVA',
 'WALKER',
 '19671222',
 'Y',
 'BLACKMON DENNIS ',
 'GLENN',
 'ARMY',
 'WO1',
 '19440130',
 'ELBERTA',
 'BALDWIN',
 '19671019',
 'Y',
 'BLACKSTON DONALD ',
 'LAMAR',
 'MARINE CORPS',
 'CPL',
 '19481020',
 'WHISTLER',
 'MOBILE',
 '19690620',
 'Y',
 'BLAKELY JOSSLYN F JR',
 'NAVY',
 'LT',
 '19400124',
 'MONTEVALLO',
 'SHELBY',
 '19661026',
 'Y',
 'BLALOCK JAMES ',
 'TERRELL',
 'ARMY',
 'PFC',
 '19470823',
 'SALEM',
 'LEE',
 '19680406',
 'Y',
 'BLANKENSHIP LARRY J',
 'ARMY',
 'CPL',
 '19470920',
 'MIDFIELD',
 'JEFFERSON',
 '19680205',
 'Y',
 'BOBE RAYMOND ',
 'EDWARD',
 'ARMY',
 'SFC',
 '19480830',
 'TARRANT',
 'JEFFERSON',
 '19690316',
 'Y',
 'BOBO CHARLES GLEN',
 'ARMY',
 'SGT',
 '19500401',
 'GUNTERSVILLE',
 'MARSHALL',
 '19710208',
 'Y',
 'BOLES FLETCHER W II',
 'ARMY',
 'SGT',
 '19440326',
 'TUSCALOOSA',
 'TUSCALOOSA',
 '19690502',
 'Y',
 'BOOKER THOMAS ',
 'ARTHUR',
 'ARMY',
 'PSG',
 '19370511',
 'BESSEMER',
 'JEFFERSON',
 '19680109',
 'Y',
 'BOONE WILLIAM ',
 'EDWARD IV',
 'NAVY',
 'PO3',
 '19431001',
 'TUSKEGEE',
 'MACON',
 '19690405',
 'Y',
 'BOSTON DONALD EARL',
 'NAVY',
 'PO3',
 '19430421',
 'SHEFFIELD',
 'COLBERT',
 '19670407',
 'Y',
 'BOUYER JAMES EARL',
 'ARMY',
 'PFC',
 '19480111',
 'PRATTVILLE',
 'AUTAUGA',
 '19690401',
 'Y',
 'BOWLEN HAROLD DAVID',
 'ARMY',
 'PFC',
 '19501226',
 'GADSDEN',
 'ETOWAH',
 '19711120',
 'Y',
 'BOYD ANANIAS',
 'ARMY',
 'SGT',
 '19410721',
 'SHORTER',
 'MACON',
 '19680529',
 'Y',
 'BOYER LARRY EUGENE',
 'ARMY',
 'CPL',
 '19471226',
 'BIRMINGHAM',
 'JEFFERSON',
 '19690202',
 'Y',
 'BRACKIN RANDY ',
 'CARROLL',
 'ARMY',
 'CPL',
 '19490904',
 'HEADLAND',
 'HENRY',
 '19700901',
 'Y',
 'BRADBERRY ARTHUR ',
 'MILTON',
 'ARMY',
 'SFC',
 '19310807',
 'GADSDEN',
 'ETOWAH',
 '19690330',
 'Y',
 'BRADLEY RUBIN ',
 'FLETCHER',
 'ARMY',
 'CPT',
 '19290725',
 'JACKSON',
 'CLARKE',
 '19650629',
 'Y',
 'BRADLEY TYRONE ',
 'CARLOS',
 'NAVY',
 'SN',
 '19490321',
 'MOBILE',
 'MOBILE',
 '19710208',
 'Y',
 'BRAMLETT HOWARD ',
 'WAYNE JR',
 'ARMY',
 'PFC',
 '19500130',
 'FLORENCE',
 'LAUDERDALE',
 '19701230',
 'Y',
 'BRANNON PAUL DEWITT',
 'ARMY',
 'PFC',
 '19471215',
 'NEWVILLE',
 'HENRY',
 '19700429',
 'Y',
 'BREWER BOBBIE HERALD',
 'ARMY',
 'SSG',
 '19450326',
 'ATHENS',
 'LIMESTONE',
 '19700214',
 'Y',
 'BREWSTER OLLIS',
 'ARMY',
 'SSG',
 '19410714',
 'WELLINGTON',
 'CALHOUN',
 '19680513',
 'Y',
 'BREWTON JOHN COOKE',
 'NAVY',
 'LTJG',
 '19430905',
 'MOBILE',
 'MOBILE',
 '19700111',
 'Y',
 'BRIGHT BILLIE WAYNE',
 'ARMY',
 'PFC',
 '19470918',
 'GAYLESVILLE',
 'CHEROKEE',
 '19671111',
 'Y',
 'BROADHEAD JACK ',
 'PHILLIP',
 'ARMY',
 'SSG',
 '19380430',
 'MCCALLA',
 'JEFFERSON',
 '19671202',
 'Y',
 'BROCK EDWARD LEE',
 'ARMY',
 'SP4',
 '19451201',
 'FLORENCE',
 'LAUDERDALE',
 '19680506',
 'Y',
 'BROCK JAMES WALTER III',
 'MARINE CORPS',
 'PFC',
 '19461201',
 'CULLMAN',
 'CULLMAN',
 '19671104',
 'Y',
 'BROOKS JAMES FOSTER',
 'AIR FORCE',
 'A1C',
 '19460108',
 'KELLYTON',
 'COOSA',
 '19670815',
 'Y',
 'BROOKS JESSIE MICHAEL',
 'ARMY',
 'SSG',
 '19501112',
 'IRVINGTON',
 'MOBILE',
 '19710302',
 'Y',
 'BROOKS WILLIAM LEE',
 'ARMY',
 'SP4',
 '19471108',
 'MONTGOMERY',
 'MONTGOMERY',
 '19690606',
 'Y',
 'BROWN BOBBY JAMES',
 'ARMY',
 'SSG',
 '19431213',
 'BESSEMER',
 'JEFFERSON',
 '19680930',
 'Y',
 'BROWN CARL',
 'ARMY',
 'SP4',
 '19440709',
 'NORTHPORT',
 'TUSCALOOSA',
 ...]

In [65]:
columns = ['name', 'service', 'rank_rate', 'birthdate', 'home_city', 'home_county', 'incident_death', 'body_rec', 'state']
states_df = pd.DataFrame(columns=columns)
states_df.head()

Empty DataFrame
Columns: [name, service, rank_rate, birthdate, home_city, home_county, incident_death, body_rec, state]
Index: []

In [52]:
#run_through = len(temp)
heart = 14

while heart > 0:
    chunk = temp[:7]
    chunk.append('AL')
    states_df.concat()
    heart -= 7

AttributeError: 'DataFrame' object has no attribute 'concat'

In [51]:
states_df

Empty DataFrame
Columns: [name, service, rank_rate, birthdate, home_city, home_county, incident_death, body_rec, state]
Index: []

In [36]:
#heart = 14
heart -= 7
heart

0

In [ ]:
temp[8:16]

In [53]:
huh = temp[:8]
what = temp[8:16]
what.append('AL')
huh.append('AL')
more = [huh, what]

print(more)
print(huh)
print(what)

[['ABRAMS TIMOTHY C JR', 'ARMY', 'PFC', '19461104', 'TUSCALOOSA', 'TUSCALOOSA', '19670103', 'Y', 'AL'], ['ABSTON JAMES ESTUS JR', 'ARMY', 'PFC', '19441102', 'COTTONDALE', 'TUSCALOOSA', '19670227', 'Y', 'AL']]
['ABRAMS TIMOTHY C JR', 'ARMY', 'PFC', '19461104', 'TUSCALOOSA', 'TUSCALOOSA', '19670103', 'Y', 'AL']
['ABSTON JAMES ESTUS JR', 'ARMY', 'PFC', '19441102', 'COTTONDALE', 'TUSCALOOSA', '19670227', 'Y', 'AL']

In [32]:
blerg = pd.DataFrame(more, columns = ['name', 'service', 'rank_rate', 'birthdate', 'home_city', 'home_county', 'incident_death', 'body_rec', 'state'])

In [33]:
blerg

,name,service,rank_rate,birthdate,home_city,home_county,incident_death,body_rec,state
0,ABRAMS TIMOTHY C JR,ARMY,PFC,19461104,TUSCALOOSA,TUSCALOOSA,19670103,Y,AL
1,ABSTON JAMES ESTUS JR,ARMY,PFC,19441102,COTTONDALE,TUSCALOOSA,19670227,Y,AL

In [ ]:
10043/7

In [77]:
pageObj = pdfReader.getPage(80)
test = pageObj.extractText()
test

'U.S. Military Fatal Casualties of the Vietnam War for \nHome-State-of-Record: Alabama\nName\nService\nRank / \nRate\n   Birthdate \n(YYYYMMDD)\nIncident or \nDeath Date \n(YYYYMMDD)\nRemains \nRecovered\nHome of Record:\nCity                  County\nYERION JEFFERY ALLEN\nMARINE CORPS\nPFC\n19480909\nDOTHAN\nHOUSTON\n19680504\nY\nYOUNG CLAUDE\nARMY\nSSG\n19420419\nBIRMINGHAM\nJEFFERSON\n19671021\nY\nYOUNG WILLARD FRANK\nARMY\nPFC\n19460816\nOXFORD\nCALHOUN\n19680302\nY\nYOUNGBLOOD JIMMY \nDEAN\nMARINE CORPS\nCPL\n19440809\nBIRMINGHAM\nJEFFERSON\n19671118\nY\nZEIGLER EUGENE\nARMY\nSP4\n19440921\nMONTGOMERY\nMONTGOMERY\n19671206\nY\nTotal record count for Alabama is:  1208\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 81 of 81\n'

In [60]:
pages

81

In [65]:
# a page object

counter = 0
while counter < pages:
    pageObj = pdfReader.getPage(counter)
    #print(pageObj.extractText())
    counter += 1
    if counter == 81:
        print(pageObj.extractText())
counter

U.S. Military Fatal Casualties of the Vietnam War for
Home-State-of-Record: Alabama
Name
Service
Rank /
Rate
   Birthdate
(YYYYMMDD)
Incident or
Death Date
(YYYYMMDD)
Remains
Recovered
Home of Record:
City                  County
YERION JEFFERY ALLEN
MARINE CORPS
PFC
19480909
DOTHAN
HOUSTON
19680504
Y
YOUNG CLAUDE
ARMY
SSG
19420419
BIRMINGHAM
JEFFERSON
19671021
Y
YOUNG WILLARD FRANK
ARMY
PFC
19460816
OXFORD
CALHOUN
19680302
Y
YOUNGBLOOD JIMMY
DEAN
MARINE CORPS
CPL
19440809
BIRMINGHAM
JEFFERSON
19671118
Y
ZEIGLER EUGENE
ARMY
SP4
19440921
MONTGOMERY
MONTGOMERY
19671206
Y
Total record count for Alabama is:  1208
Source of data: the
Vietnam Conflict Extract Data File, as of April 29, 2008
, of the
Defense Casualty Analysis System (DCAS) Files
, part of Record
Group 330: Records of the Office of the Secretary of Defense.
You can view the full
DCAS
record for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main
page is as follows:
http://www.archives.gov/aad
Page 81 of 81

81

https://www.archives.gov/research/military/vietnam-war/casualty-lists/state-level-alpha.html for state by state

Testing